[Unit]
Description=Realtime distributed messaging (nsqlookupd)
After=network.target

[Service]
ExecStart=/usr/bin/nsqlookupd -c /etc/nsq/nsqlookupd.conf
Restart=always
User=nsq
Group=nsq

[Install]
WantedBy=multi-user.target
