#!/usr/bin/make -f

export DH_OPTIONS
export GOPATH=/tmp/build
GODIR=$(GOPATH)/src/github.com/nsqio

define get_go_deps
    if [ ! -d $(GODIR) ]; then \
        mkdir -p $(GODIR); ln -s $(CURDIR) $(GODIR)/nsq; \
		cd $(GODIR)/nsq; dep ensure -update; \
    fi
endef

%:
	$(call get_go_deps)
	dh $@ --with systemd

get-go-deps:
	$(call get_go_deps)

clean-go-deps:
	rm -rf $(GOPATH)

override_dh_auto_build:
	cd $(GODIR)/nsq && make CGO_ENABLED=1 GOFLAGS="-ldflags '-w -s'"

override_dh_strip:
